<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Trails webpage
    </h1>
    <ul>
        {% for trail in trails %}
        <h2>{{ trail.Trailname }}</h2>
            <ul>
               <li>{{trail.Summary}}</li> 
               <li>{{trail.Description}}</li> 
               <li>{{trail.Difficulty}}</li> 
               <li>{{trail.Location}}</li> 
               <li>{{trail.Length}}</li> 
               <li>{{trail.Elevationgain}}</li> 
               <li>{{trail.Routetype}}</li> 
               <li>Feature's:</li>
               {% for features in trail.features %}
                <ul>
                        <li>{{features.TrailFeature}}</li>
                </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>